In [1]:
import os
import pandas

In [2]:
# Define save folder
save_folder = os.path.join(os.pardir, 'resources', 'groceries')
print(save_folder)

../resources/groceries

In [29]:
# load csv file of search terms
search_terms = pandas.read_csv('all_substitute_search_terms_aldi.csv')
search_terms.head(3)

,TERM,CONTENT_TYPE,SUBTITLE,RETAILER_ID,RETAILER_NAME,PRODUCT_IDS,PRODUCT_NAMES
0,shredded colby jack cheese,substitute,Other shredded cheeses,12,ALDI,"[\n 19283319,\n 19283319,\n 19283319,\n 19...","[\n ""Shredded Taco Style Cheese"",\n ""Shredde..."
1,sparkling wine,substitute,Other sparkling beverages,12,ALDI,"[\n 21570646,\n 21570646,\n 19481036,\n 19...","[\n ""Pomegranate Mimosa"",\n ""Pomegranate Mim..."
2,arborio rice,substitute,Other types of rice,12,ALDI,"[\n 20197949,\n 21099224,\n 20968019,\n 21...","[\n ""Four Cheese Risotto"",\n ""Ready to Serve..."

In [30]:
# Print the number of rows of dataframe
print(search_terms.shape)

(27678, 7)

In [39]:
# Create column cardinality which contains the number of product ids in the list in PRODUCT_IDS
search_terms['cardinality'] = search_terms['PRODUCT_IDS'].apply(lambda x: len(x.split(',')))
search_terms.head(10)

,TERM,CONTENT_TYPE,SUBTITLE,RETAILER_ID,RETAILER_NAME,PRODUCT_IDS,PRODUCT_NAMES,cardinality
0,shredded colby jack cheese,substitute,Other shredded cheeses,12,ALDI,"[\n 19283319,\n 19283319,\n 19283319,\n 19...","[\n ""Shredded Taco Style Cheese"",\n ""Shredde...",39
1,sparkling wine,substitute,Other sparkling beverages,12,ALDI,"[\n 21570646,\n 21570646,\n 19481036,\n 19...","[\n ""Pomegranate Mimosa"",\n ""Pomegranate Mim...",84
2,arborio rice,substitute,Other types of rice,12,ALDI,"[\n 20197949,\n 21099224,\n 20968019,\n 21...","[\n ""Four Cheese Risotto"",\n ""Ready to Serve...",9
3,lays variety pack,substitute,Other variety packs,12,ALDI,"[\n 21208181,\n 26284946,\n 26345057,\n 21...","[\n ""Potato Chip Combo"",\n ""Flavor Mix"",\n ...",5
4,kings hawaiian rolls,substitute,Other frozen rolls,12,ALDI,[\n 20856441\n],"[\n ""Hawaiian Sweet Rolls""\n]",1
5,french lentils,substitute,Other lentil varieties,12,ALDI,[\n 20985595\n],"[\n ""Green Lentils""\n]",1
6,vegan butter,substitute,Plant-based butter alternatives,12,ALDI,"[\n 89646,\n 20518805,\n 18648649,\n 19283...","[\n ""Vegetable Oil Spread Sticks"",\n ""Spread...",12
7,garlic infused olive oil,substitute,Flavored olive oils,12,ALDI,"[\n 25842677,\n 25842677,\n 19907623,\n 19...","[\n ""Infused Extra Virgin Olive Oil With Garl...",4
8,fish fillets,substitute,Seafood alternatives,12,ALDI,"[\n 20385444,\n 20385444,\n 20385444,\n 20...","[\n ""Whiting Fish Fillets"",\n ""Whiting Fish ...",81
9,berry punch,substitute,Fruit punch alternatives,12,ALDI,"[\n 18647699,\n 24435722\n]","[\n ""Naturally Flavored Juice"",\n ""Not from ...",2

In [32]:
# Find all rows with 'milk' in the column TERM
milk_rows = search_terms[search_terms['TERM'] == 'milk']
# print all milk_rows
print(milk_rows)
print(milk_rows.shape)

       TERM CONTENT_TYPE                      SUBTITLE  RETAILER_ID  \
1284   milk   substitute             Homemade pancakes           12
6751   milk   substitute       Lower fat cream options           12
7699   milk   substitute  Homemade macaroni and cheese           12
12109  milk   substitute      Homemade mashed potatoes           12
19683  milk   substitute             Homemade biscuits           12
23085  milk   substitute     Alternative cream options           12

      RETAILER_NAME                                        PRODUCT_IDS  \
1284           ALDI  [\n  21059061,\n  18649227,\n  25928586,\n  16...
6751           ALDI  [\n  21059061,\n  18649227,\n  25928586,\n  16...
7699           ALDI  [\n  25928586,\n  25928586,\n  25928586,\n  25...
12109          ALDI  [\n  21059061,\n  21059061,\n  25928586,\n  25...
19683          ALDI  [\n  21059061,\n  18649227,\n  25928586,\n  16...
23085          ALDI  [\n  21059061,\n  25928586,\n  18649227,\n  16...

                                           PRODUCT_NAMES  cardinality
1284   [\n  "Whole Omega-3 Milk",\n  "Organic Whole M...           26
6751   [\n  "Whole Omega-3 Milk",\n  "Organic Whole M...           26
7699   [\n  "Vanilla Sweetened Almondmilk",\n  "Vanil...          104
12109  [\n  "Whole Omega-3 Milk",\n  "Whole Omega-3 M...           52
19683  [\n  "Whole Omega-3 Milk",\n  "Organic Whole M...           26
23085  [\n  "Whole Omega-3 Milk",\n  "Vanilla Sweeten...           26
(6, 8)

In [38]:
# If there are duplicates in column TERM, remove the ones with the smallest cardinality
terms = search_terms.sort_values(by=['TERM', 'cardinality'], ascending=[False, False])
# Drop the duplicates with smallest cardinality
terms = terms.drop_duplicates(subset='TERM', keep='first')
# Re-order according to index
terms = terms.sort_index()
print(terms.shape)
terms.head(10)

(7941, 8)

,TERM,CONTENT_TYPE,SUBTITLE,RETAILER_ID,RETAILER_NAME,PRODUCT_IDS,PRODUCT_NAMES,cardinality
0,shredded colby jack cheese,substitute,Other shredded cheeses,12,ALDI,"[\n 19283319,\n 19283319,\n 19283319,\n 19...","[\n ""Shredded Taco Style Cheese"",\n ""Shredde...",39
1,sparkling wine,substitute,Other sparkling beverages,12,ALDI,"[\n 21570646,\n 21570646,\n 19481036,\n 19...","[\n ""Pomegranate Mimosa"",\n ""Pomegranate Mim...",84
3,lays variety pack,substitute,Other variety packs,12,ALDI,"[\n 21208181,\n 26284946,\n 26345057,\n 21...","[\n ""Potato Chip Combo"",\n ""Flavor Mix"",\n ...",5
7,garlic infused olive oil,substitute,Flavored olive oils,12,ALDI,"[\n 25842677,\n 25842677,\n 19907623,\n 19...","[\n ""Infused Extra Virgin Olive Oil With Garl...",4
8,fish fillets,substitute,Seafood alternatives,12,ALDI,"[\n 20385444,\n 20385444,\n 20385444,\n 20...","[\n ""Whiting Fish Fillets"",\n ""Whiting Fish ...",81
12,coconut whipping cream,substitute,Non-dairy whipping cream,12,ALDI,"[\n 16620586,\n 28032853\n]","[\n ""Whipped Topping, The Original, Real Coco...",2
13,mango slices,substitute,Fruit slices,12,ALDI,"[\n 19763202,\n 20906648,\n 17771177,\n 19...","[\n ""Freeze Dried Mango"",\n ""Dried Philippin...",5
14,frozen pot pies,substitute,Other frozen entrees,12,ALDI,"[\n 32566981,\n 35355\n]","[\n ""Chicken Pot Pie"",\n ""Chicken Pot Pie Fr...",2
16,earth balance,substitute,Alternative butter spreads,12,ALDI,"[\n 31794753,\n 31794753,\n 31794753\n]","[\n ""Plant Based Buttery Spread"",\n ""Plant B...",3
18,cake bites,substitute,Cupcake alternatives,12,ALDI,"[\n 16349256,\n 16830058,\n 20129182,\n 19...","[\n ""Classic Italian Rainbow"",\n ""The Ultima...",9

In [40]:
# Drop any rows with cardinality 0
terms = terms[terms['cardinality'] > 0]
print(terms.shape)

(7941, 8)

In [41]:
# Save terms column in a csv file in the save folder
terms['TERM'].to_csv(os.path.join(save_folder, 'search_terms.csv'), index=False)